header {
  padding: 200px 0 350px;  /* Espacio encabezado arriba - abajo */
  background: #343a40 url("../imagenes/home.png") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  opacity: 0.9;
}

.box {
  border: 1px solid #fff;
  border-radius: 30px;
  margin:  5%;
  padding: 30px;
  background-color: #000;
  opacity: 0.8;
}

.bg-dark {
  background-color: #eb4a4b!important;
}

.light-yellow {
  background-color: #fbf1a9!important;
}

.washed-blue {
  background-color: #f6fffe!important;
}

section {
  padding: 150px 0;   /* Espacio entre secciones */
}

.space {
  padding-bottom: 100px;
}

#seccion-4 {
  background-color: #fefcfe;
}

/*a:visited {
  color: #fefcfe !important;
} */

.btn-secondary {
  color: #fefcfe !important;
}

.py-5 {
  padding-top: 5rem!important;
  padding-bottom: 5rem!important;
}

#prototipo {
  overflow-x:hidden;
  padding: 100px 0;
  background: url(https://source.unsplash.com/-TelEKCLPyY/1600x900) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.list-border-y li {
  border-top: 1px solid;
  align-items: center;
}
.list-border-y li:last-child {
  border-bottom: 1px solid
}

.transition250 {
    filter: opacity(1);
    transform: translate3d(0px, 0px, 0px) scale(1); 
    transition: all 250ms ease-out;
}

.transition500 {
  filter: opacity(1); 
  transform: translate3d(0px, 0px, 0px) scale(1); 
  transition: all 500ms ease-out;
}